body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:rgb(36,99,139);
}

.box {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 10px;
}

.tituloSimulado {
  align-items: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tituloSimulado h2 {
  margin: 0;
  font-size: 32px;
  margin-bottom: 10px;
  
}

.tempo {
  background-color: #fff;
  color: #00a8cc;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
}

.spnQtd {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  background-color: #00a8cc;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  width: 38px;
  padding: 4px;
}


.question {
  font-size: 22px;
  margin-bottom: 10px;
}

.answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.answers button {
  background-color: #00a8cc;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.answers button:hover {
  background-color: #007399;
}

.finish {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  color: white;
  font-size: 25px;
}
.finish button {
  background-color: #00a8cc;
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  
  
     
}
.finish button:hover {
  background-color: #007399;
}

.textfinish{
 color: white;
  font-size: 30px;
  width: 250px;
  height: 80px;
  text-align: center;
  border-radius: 5px;
  margin-left: 10px;
  
}

/* media query para telas menores */
@media only screen and (max-width: 4000px) {
  .box {
    width: 90%;
    max-width: none;
  }
  
  .finish {
    flex-direction: column;
    align-items: center;
  }
}

/*body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:rgb(36,99,139);
}


  .box {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 10px;
    box-sizing: border-box;
  
}

.tituloSimulado {
  align-items: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tituloSimulado h2 {
  margin: 0;
  font-size: 32px;
  margin-bottom: 10px;
  
}

.tempo {
  background-color: #fff;
  color: #00a8cc;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
}

.spnQtd {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  background-color: #00a8cc;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  width: 38px;
  padding: 4px;
}


.question {
  font-size: 22px;
  margin-bottom: 10px;
}

.answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.answers button {
  background-color: #00a8cc;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.answers button:hover {
  background-color: #007399;
}

.finish {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.finish button {
  background-color: #00a8cc;
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  
     
}
.finish button:hover {
  background-color: #007399;
}

.textfinish{
 color: white;
  font-size: 20px;
  width: 250px;
  height: 80px;
  text-align: center;
  border-radius: 5px;
  margin-left: 10px;
  
}














/*

body {
  background-color: rgb(36,99,139);
  font-family: Arial, sans-serif;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
}

.tituloSimulado {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tituloSimulado h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.tempo {
  background-color: #00a8cc;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
}

.spnQtd {
  display: block;
  font-size: 24px;
  margin-bottom: 20px;
}

.question {
  font-size: 22px;
  margin-bottom: 10px;
}

.answers {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.answers button {
  background-color: #00a8cc;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.answers button:hover {
  background-color: #007399;
}

.finish {
  margin-top: 20px;
  text-align: center;
  
}

.finish button {
  background-color: #00a8cc;
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  
}

.finish button:hover {
  background-color: #007399;
}

body {
  background-color: rgb(36,99,139);
  font-family: Arial, sans-serif;
}



/* Estilos para o conteúdo principal 
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin-bottom: 20px;
  max-width: 600px;
  width: 100%;
}

.tituloSimulado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.tempo {
  font-size: 20px;
  font-weight: bold;
}

.spnQtd {
  margin-bottom: 10px;
  font-size: 16px;
}

.question {
  margin-bottom: 20px;
  font-size: 20px;
}

.answers {
  display: flex;
  flex-direction: column;
}

.answers button {
  margin-top: 10px;
}

/* Estilos para o botão de finalização 
.finish {
  display: flex;
  justify-content: center;
  align-items: center;
}

.finish button {
  background-color: #628ce8;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  transition: background-color 0.3s ease-in-out;
  text-transform: uppercase;
}

.finish button:hover {
  background-color: #020c21;
}